@{
    ViewData["Title"] = "Donate";
}

<div class="section">
    <h2>Donate</h2>

    <p>
        Believing the promise of Philippians 4:19 that <em>“my God will meet all your needs according to His glorious riches in Christ Jesus”</em>,
        Queen of Apostles Renewal Centre functions as a faith mission sustained by donations from those who use the facility and the freewill offerings of interested individuals.
    </p>

    <p>
        If, after honoring your commitment to your church, you are able and desire to support Queen of Apostles Renewal Centre, please consider making a donation.
    </p>

    <p><strong>All gifts of $10 or more will receive a Canadian charitable receipt for income tax purposes.</strong></p>

    <h3>3 Easy Ways to Donate</h3>
    <ul>
        <li><strong>Online:</strong> Click on the <a href="https://www.canadahelps.org" target="_blank">Canada Helps</a> secure donate button to use your credit card.</li>
        <li><strong>By Cheque:</strong> Payable to <strong>Queen of Apostles Renewal Centre</strong> and mailed to:<br>
            1617 Blythe Road<br>Mississauga, Ontario<br>L5H 2C3<br>Canada
        </li>
        <li><strong>Pre-Authorized Monthly Withdrawals (PAW):</strong> Contact our office for more details.</li>
    </ul>
</div>
