@{
    ViewData["Title"] = "Donate";
}

<h2>Donate</h2>
<p>
    Donations
    Believing the promise of Philippians 4:19 that “my God will meet all your needs according to His glorious riches in Christ Jesus”, Queen of Apostles Renewal Centre will function as a faith mission sustained by the donations made by those who use the facility and the freewill offerings of interested individuals. If, after you have honoured your commitment to your church, you are able and desiring to support Queen of Apostles Renewal Centre, please consider making a donation.

    All gifts of $20 or more are provided with a Canadian charitable receipt for income tax purposes.

    3 Easy Ways to Donate

    Click on the Canada Helps secure donate button and use your credit card.

    Cheques payable to Queen of Apostles Renewal Centre are also most welcome and can be mailed to 1617 Blythe Road, Mississauga, Ontario L5H 2C3 Canada

    Interac E-Transfer at address: director@qoa.ca


</p>
